html, body{
	margin: 0px;
	padding: 0px;
	font-family: calibri, sans-serif;
}

*{
	box-sizing: border-box;
}

.container{
	max-width: 980px;
	margin: 0 auto;
	overflow: hidden;
}

header .buttonmenu{
	float: right;
	border-radius: 10px;
	box-shadow: none;
	padding: 1rem;
	background-color: blue;
	color: white;
	font-weight: bold;
}

header {
	background-color: yellow;
	color: black;
	padding: 1rem 0;
}

header h1{
	margin: 0px;
	display: inline-block;
}


.sidebar{ 
	position: fixed;
	top: 0;
	left: 0;
	background-color: blue;
	width: 17%;
	height: 100vh;
	padding: 1rem;
	transform: translateX(-100%);
	transition: 200ms ease all;
 }

 .sidebar.ativo{
 	transform: translateX(0);
	transition: 200ms ease all;
 }

 .sidebar ul {
 	padding: 0px;
 }

.sidebar li{
	list-style: none;
	margin: 8px;
	text-align: center;
}
.sidebar a{
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
}

.intro{
	padding: 1rem 0;
}